body {
  background-color: rgb(234, 247, 242);
}

.mynavbar {
  background-color: rgb(12, 83, 83);
  color: azure;
  justify-content: start;
  align-items: start;
  margin: 10px;
}

.myContainer{
  margin: 20px;
  margin-left: 0%;
  justify-content: center;
}
.senderColor{
  background-color:rgb(182, 202, 202) ;
}
.senderColor1{
  background-color:rgb(151, 176, 176) ;
}
.emailBody{
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-left: 5%;
  border: 10%;
  background-color: rgb(249, 250, 251);
  height: 500px;
  width: 2000px;
}