body {
  background-color: rgb(234, 247, 242);
}
.mynavbar {
  background-color: rgb(12, 83, 83);
  color: azure;
  justify-content: start;
  align-items: start;
  margin: 10px;
}

.myContainer{
  margin: 20px;
  margin-left: 0%;
  justify-content: center;
}

.myMailBody{
  margin: 10px;
  margin-left: 0%;
}
.senderInfo{
  margin: 10px;
  margin-left: 0%;
}
.emailBody{
  margin-left: 0%;
  border: 10%;
  background-color: rgb(249, 250, 251);
  height: 500px;
  width: 1000px;
}